@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply min-h-screen bg-neutral-800;
  }
}
@layer components {
  .link {
    @apply bg-neutral-900 hover:bg-neutral-800 px-3 py-1 rounded transition;
  }
  .active {
    @apply bg-red-600 hover:bg-red-700;
  }
}
